In [5]:
import pandas as pd 
import demand
transactions = pd.read_csv("data/transactions.csv")

## Looking for complimentary products
#### products that are usually sold together with the chosen item

In [6]:
product = "Biologische brocolli"

customers = transactions[transactions["description"] == product]["customer"]
customers_basket = {}

for customer in customers:
    basket = transactions[transactions["customer"] == customer]["description"].values
    customers_basket[customer] = basket

In [8]:
purchase_frequencies = {}
for cust_id in customers_basket.keys():
    basket = customers_basket[cust_id]
    for item in basket:
        if purchase_frequencies.get(item) == None:
            purchase_frequencies[item] = 1
        else:
            purchase_frequencies[item] += 1
df_purchases = pd.DataFrame({"product":purchase_frequencies.keys(), "frequency":purchase_frequencies.values()})
df_purchases.sort_values("frequency", inplace=True, ascending=False)
df_purchases.head(10)

                                  product  frequency
16                   Biologische brocolli       1303
71               Biologisch volkoren heel        780
20                   Basis annanasstukjes        777
32   Biologisch Vloerbrood meerzaden heel        690
74                  Biologisch bruin heel        654
69                    Biologische pompoen        461
66                  Biologische courgette        458
111            Biologische cherry tomaten        449
68                   Biologische knoflook        434
114                 Biologische rode kool        429

## Creating data for one complimentary product

In [22]:
compliment_product = "Basis annanasstukjes"
compl_transactions = transactions[transactions["description"] == compliment_product]
compl_transactions["day"] = pd.to_datetime(compl_transactions["day"], dayfirst=True)
grouped = compl_transactions.groupby("day").mean()["purchase_price"]
compl_sales = pd.DataFrame({"sales":grouped.values, "day": grouped.index})
compl_sales["sales"].max()

<ipython-input-22-65b3afea25e7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  compl_transactions["day"] = pd.to_datetime(compl_transactions["day"], dayfirst=True)

1.0100000000000007

## Testing the function and predictions

In [2]:
product = "Biologische courgette"
compl_prod = "Basis annanasstukjes"
filtered_transactions = transactions[transactions["description"] == product]
test_prepare = demand.prepare_data(filtered_transactions, complimentary_products=compl_prod, full_transactions=transactions)

c:\Users\zolyo\OneDrive\Documents\Quartile 3\JBG050 Data Challenge 2\Code\src\demand.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_transactions["day"] = pd.to_datetime(filtered_transactions["day"])
c:\Users\zolyo\OneDrive\Documents\Quartile 3\JBG050 Data Challenge 2\Code\src\demand.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_transactions["discount"] = 100-(
compl_product is a string
c:\Users\zolyo\OneDrive\Documents\Quartile 3\JBG050 Data Challenge 2\Code\src\demand.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchases["month"] = [purchases.index[i][1].month_name() for i in range(purchases.shape[0])]
c:\Users\zolyo\OneDrive\Documents\Quartile 3\JBG050 Data Challenge 2\Code\src\demand.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchases["product"] = [purchases.index[i][0] for i in range(purchases.shape[0])]
c:\Users\zolyo\OneDrive\Documents\Quartile 3\JBG050 Data Challenge 2\Code\src\demand.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchases["day"] = [purchases.index[i][1].dayofyear for i in range(purchases.shape[0])]
c:\Users\zolyo\OneDrive\Documents\Quartile 3\JBG050 Data Challenge 2\Code\src\demand.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchases["dayofweek"] = [purchases.index[i][1].dayofweek for i in range(purchases.shape[0])]
C:\Users\zolyo\AppData\Roaming\Python\Python38\site-packages\pandas\core\series.py:4575: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
c:\Users\zolyo\OneDrive\Documents\Quartile 3\JBG050 Data Challenge 2\Code\src\demand.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchases["purchase_price"] = pp
c:\Users\zolyo\OneDrive\Documents\Quartile 3\JBG050 Data Challenge 2\Code\src\demand.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchases["std_sales_price"] = std_p
C:\Users\zolyo\AppData\Roaming\Python\Python38\site-packages\pandas\core\frame.py:4300: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
c:\Users\zolyo\OneDrive\Documents\Quartile 3\JBG050 Data Challenge 2\Code\src\demand.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchases["prev_day_purchases"] = purchases["count"].shift(1)
C:\Users\zolyo\AppData\Roaming\Python\Python38\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
c:\Users\zolyo\OneDrive\Documents\Quartile 3\JBG050 Data Challenge 2\Code\src\demand.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchases["prev_day_purchases"].iloc[0] = 0
c:\Users\zolyo\OneDrive\Documents\Quartile 3\JBG050 Data Challenge 2\Code\src\demand.py:168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filt_transactions["day"] = pd.to_datetime(filt_transactions["day"], dayfirst=True)

In [8]:
test_prepare[test_prepare["sales"] < 1]

(56, 16)

In [7]:
test_prepare.join(demand.calc_sales(transactions, compl_prod).set_index("day"))

c:\Users\zolyo\OneDrive\Documents\Quartile 3\JBG050 Data Challenge 2\Code\src\demand.py:168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filt_transactions["day"] = pd.to_datetime(filt_transactions["day"], dayfirst=True)

                                  count   discount  std        min        25%  \
description           day
Biologische courgette 2018-01-01    8.0  14.792899  0.0  14.792899  14.792899
                      2018-01-02    2.0   0.000000  0.0   0.000000   0.000000
                      2018-01-03    4.0  30.177515  0.0  30.177515  30.177515
                      2018-01-04    3.0   0.000000  0.0   0.000000   0.000000
                      2018-01-05    3.0   0.000000  0.0   0.000000   0.000000
...                                 ...        ...  ...        ...        ...
                      2018-12-26    4.0   0.000000  0.0   0.000000   0.000000
                      2018-12-27    3.0   0.000000  0.0   0.000000   0.000000
                      2018-12-28    2.0   0.000000  0.0   0.000000   0.000000
                      2018-12-29    3.0   0.000000  0.0   0.000000   0.000000
                      2018-12-30    4.0   0.000000  0.0   0.000000   0.000000

                                        50%        75%        max     month  \
description           day
Biologische courgette 2018-01-01  14.792899  14.792899  14.792899   January
                      2018-01-02   0.000000   0.000000   0.000000   January
                      2018-01-03  30.177515  30.177515  30.177515   January
                      2018-01-04   0.000000   0.000000   0.000000   January
                      2018-01-05   0.000000   0.000000   0.000000   January
...                                     ...        ...        ...       ...
                      2018-12-26   0.000000   0.000000   0.000000  December
                      2018-12-27   0.000000   0.000000   0.000000  December
                      2018-12-28   0.000000   0.000000   0.000000  December
                      2018-12-29   0.000000   0.000000   0.000000  December
                      2018-12-30   0.000000   0.000000   0.000000  December

                                                product  day  dayofweek  \
description           day
Biologische courgette 2018-01-01  Biologische courgette    1     Monday
                      2018-01-02  Biologische courgette    2    Tuesday
                      2018-01-03  Biologische courgette    3  Wednesday
                      2018-01-04  Biologische courgette    4   Thursday
                      2018-01-05  Biologische courgette    5     Friday
...                                                 ...  ...        ...
                      2018-12-26  Biologische courgette  360  Wednesday
                      2018-12-27  Biologische courgette  361   Thursday
                      2018-12-28  Biologische courgette  362     Friday
                      2018-12-29  Biologische courgette  363   Saturday
                      2018-12-30  Biologische courgette  364     Sunday

                                  purchase_price  std_sales_price  \
description           day
Biologische courgette 2018-01-01            1.44             1.69
                      2018-01-02            1.69             1.69
                      2018-01-03            1.18             1.69
                      2018-01-04            1.69             1.69
                      2018-01-05            1.69             1.69
...                                          ...              ...
                      2018-12-26            1.69             1.69
                      2018-12-27            1.69             1.69
                      2018-12-28            1.69             1.69
                      2018-12-29            1.69             1.69
                      2018-12-30            1.69             1.69

                                  prev_day_purchases  sales
description           day
Biologische courgette 2018-01-01                 0.0   1.01
                      2018-01-02                 8.0   1.01
                      2018-01-03                 2.0   1.01
                      2018-01-04                 4.0   1.01
                      2018-01-05                 3.0   1.01
...                                              ...    ...
                      2018-12-26                 2.0   1.01
                      2018-12-27                 4.0   1.01
                      2018-12-28                 3.0   1.01
                      2018-12-29                 2.0   1.01
                      2018-12-30                 3.0   1.01

[345 rows x 16 columns]

In [3]:
test_prepare

                                  count   discount  std        min        25%  \
description           day
Biologische courgette 2018-01-01    8.0  14.792899  0.0  14.792899  14.792899
                      2018-01-02    2.0   0.000000  0.0   0.000000   0.000000
                      2018-01-03    4.0  30.177515  0.0  30.177515  30.177515
                      2018-01-04    3.0   0.000000  0.0   0.000000   0.000000
                      2018-01-05    3.0   0.000000  0.0   0.000000   0.000000
...                                 ...        ...  ...        ...        ...
                      2018-12-26    4.0   0.000000  0.0   0.000000   0.000000
                      2018-12-27    3.0   0.000000  0.0   0.000000   0.000000
                      2018-12-28    2.0   0.000000  0.0   0.000000   0.000000
                      2018-12-29    3.0   0.000000  0.0   0.000000   0.000000
                      2018-12-30    4.0   0.000000  0.0   0.000000   0.000000

                                        50%        75%        max     month  \
description           day
Biologische courgette 2018-01-01  14.792899  14.792899  14.792899   January
                      2018-01-02   0.000000   0.000000   0.000000   January
                      2018-01-03  30.177515  30.177515  30.177515   January
                      2018-01-04   0.000000   0.000000   0.000000   January
                      2018-01-05   0.000000   0.000000   0.000000   January
...                                     ...        ...        ...       ...
                      2018-12-26   0.000000   0.000000   0.000000  December
                      2018-12-27   0.000000   0.000000   0.000000  December
                      2018-12-28   0.000000   0.000000   0.000000  December
                      2018-12-29   0.000000   0.000000   0.000000  December
                      2018-12-30   0.000000   0.000000   0.000000  December

                                                product  day  dayofweek  \
description           day
Biologische courgette 2018-01-01  Biologische courgette    1     Monday
                      2018-01-02  Biologische courgette    2    Tuesday
                      2018-01-03  Biologische courgette    3  Wednesday
                      2018-01-04  Biologische courgette    4   Thursday
                      2018-01-05  Biologische courgette    5     Friday
...                                                 ...  ...        ...
                      2018-12-26  Biologische courgette  360  Wednesday
                      2018-12-27  Biologische courgette  361   Thursday
                      2018-12-28  Biologische courgette  362     Friday
                      2018-12-29  Biologische courgette  363   Saturday
                      2018-12-30  Biologische courgette  364     Sunday

                                  purchase_price  std_sales_price  \
description           day
Biologische courgette 2018-01-01            1.44             1.69
                      2018-01-02            1.69             1.69
                      2018-01-03            1.18             1.69
                      2018-01-04            1.69             1.69
                      2018-01-05            1.69             1.69
...                                          ...              ...
                      2018-12-26            1.69             1.69
                      2018-12-27            1.69             1.69
                      2018-12-28            1.69             1.69
                      2018-12-29            1.69             1.69
                      2018-12-30            1.69             1.69

                                  prev_day_purchases
description           day
Biologische courgette 2018-01-01                 0.0
                      2018-01-02                 8.0
                      2018-01-03                 2.0
                      2018-01-04                 4.0
                      2018-01-05                 3.0
...                                              ...
                      2018-12-26                 2.0
                      2018-12-27                 4.0
                      2018-12-28                 3.0
                      2018-12-29                 2.0
                      2018-12-30                 3.0

[345 rows x 15 columns]

In [28]:
test_prepare.join(compl_sales.set_index("day"))

                                  count   discount  std        min        25%  \
description           day
Biologische courgette 2018-01-01    8.0  14.792899  0.0  14.792899  14.792899
                      2018-01-02    2.0   0.000000  0.0   0.000000   0.000000
                      2018-01-03    4.0  30.177515  0.0  30.177515  30.177515
                      2018-01-04    3.0   0.000000  0.0   0.000000   0.000000
                      2018-01-05    3.0   0.000000  0.0   0.000000   0.000000
...                                 ...        ...  ...        ...        ...
                      2018-12-26    4.0   0.000000  0.0   0.000000   0.000000
                      2018-12-27    3.0   0.000000  0.0   0.000000   0.000000
                      2018-12-28    2.0   0.000000  0.0   0.000000   0.000000
                      2018-12-29    3.0   0.000000  0.0   0.000000   0.000000
                      2018-12-30    4.0   0.000000  0.0   0.000000   0.000000

                                        50%        75%        max     month  \
description           day
Biologische courgette 2018-01-01  14.792899  14.792899  14.792899   January
                      2018-01-02   0.000000   0.000000   0.000000   January
                      2018-01-03  30.177515  30.177515  30.177515   January
                      2018-01-04   0.000000   0.000000   0.000000   January
                      2018-01-05   0.000000   0.000000   0.000000   January
...                                     ...        ...        ...       ...
                      2018-12-26   0.000000   0.000000   0.000000  December
                      2018-12-27   0.000000   0.000000   0.000000  December
                      2018-12-28   0.000000   0.000000   0.000000  December
                      2018-12-29   0.000000   0.000000   0.000000  December
                      2018-12-30   0.000000   0.000000   0.000000  December

                                                product  day  dayofweek  \
description           day
Biologische courgette 2018-01-01  Biologische courgette    1     Monday
                      2018-01-02  Biologische courgette    2    Tuesday
                      2018-01-03  Biologische courgette    3  Wednesday
                      2018-01-04  Biologische courgette    4   Thursday
                      2018-01-05  Biologische courgette    5     Friday
...                                                 ...  ...        ...
                      2018-12-26  Biologische courgette  360  Wednesday
                      2018-12-27  Biologische courgette  361   Thursday
                      2018-12-28  Biologische courgette  362     Friday
                      2018-12-29  Biologische courgette  363   Saturday
                      2018-12-30  Biologische courgette  364     Sunday

                                  purchase_price  std_sales_price  \
description           day
Biologische courgette 2018-01-01            1.44             1.69
                      2018-01-02            1.69             1.69
                      2018-01-03            1.18             1.69
                      2018-01-04            1.69             1.69
                      2018-01-05            1.69             1.69
...                                          ...              ...
                      2018-12-26            1.69             1.69
                      2018-12-27            1.69             1.69
                      2018-12-28            1.69             1.69
                      2018-12-29            1.69             1.69
                      2018-12-30            1.69             1.69

                                  prev_day_purchases  sales
description           day
Biologische courgette 2018-01-01                 0.0   1.01
                      2018-01-02                 8.0   1.01
                      2018-01-03                 2.0   1.01
                      2018-01-04                 4.0   1.01
                      2018-01-05                 3.0   1.01
...                                              ...    ...
                      2018-12-26                 2.0   1.01
                      2018-12-27                 4.0   1.01
                      2018-12-28                 3.0   1.01
                      2018-12-29                 2.0   1.01
                      2018-12-30                 3.0   1.01

[345 rows x 16 columns]