In [1]:
import pandas as pd
import numpy as np 
import datetime
inventory = pd.read_csv("data/inventory.csv")
products = pd.read_csv("data/products.csv")
promotions = pd.read_csv("data/promotions.csv")
transactions = pd.read_csv("data/transactions.csv")

#create a reference dataframe
dayofyear = list(range(365))
date = [datetime.datetime(2018, 1, 1) + datetime.timedelta(day) for day in dayofyear]
df_date = pd.DataFrame({"day":dayofyear, "date":date})

import ast
for colname in inventory.columns[2:]:
    inventory[colname] = [ast.literal_eval(i) for i in inventory[colname]]

In [2]:
product_names = ['Biologische prei', 'Biologische brocolli', 'Biologische courgette', 'Biologische rode kool', 'Biologische cherry tomaten', 'Biologisch Bloemkool', 'Biologische pompoen', 'Biologische kikkererwten', 'Biologische knoflook']

In [5]:
transactions.head()

,day,time,customer,bank acount,category,product_id,description,size,std_sales_price,purchase_price,bio,basic
0,1/1/2018,9:07:00,0.0,NaN,snack,s_5,Eierkoeken,4st,1.79,1.79,0.0,0.0
1,1/1/2018,9:07:00,0.0,NaN,meat,m_16,Sappige gelders rookworst,250g,1.08,1.08,0.0,0.0
2,1/1/2018,9:07:00,0.0,NaN,meat,m_18,Varkensbraadworst,4st,2.49,1.99,NaN,0.0
3,1/1/2018,9:07:00,0.0,NaN,meat,m_6,Half om half gehakt,500g,2.69,2.42,0.0,0.0
4,1/1/2018,9:07:00,0.0,NaN,bread,b_33,Biologisch bruin heel,1st,2.12,2.12,1.0,0.0

In [11]:
inventory.head()

,day,before or after delivery,Komkommer,Courgette,SnoepVegetable tomaat,Paprika Mix,Paprika,Geschrapte worteltjes,Basis Sperziebonen,Basis Rode kool met appel,...,Roomboter chocolade brood,Chinois brioche,Vanille muffins (vers),Basic chocolate chip cookies,Oreo,Bakkersspeculaas,Eierkoeken,Ribbelchips naturel,Ribbelchips paprika,Doritos sweet chili
0,0,before,[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
1,0,after,"[(14, 36)]","[(14, 8)]","[(14, 37)]","[(14, 33)]","[(14, 34)]","[(14, 35)]","[(14, 31)]","[(14, 35)]",...,"[(5, 19)]","[(5, 23)]","[(100, 130)]","[(100, 45)]","[(100, 131)]","[(100, 45)]","[(100, 125)]","[(100, 45)]","[(100, 44)]","[(100, 128)]"
2,3,before,"[(14, 13)]",[],"[(14, 13)]","[(14, 11)]",[],[],"[(14, 2)]","[(14, 12)]",...,[],[],"[(100, 3)]",[],"[(100, 19)]","[(100, 7)]","[(100, 8)]","[(100, 10)]","[(100, 11)]","[(100, 26)]"
3,3,after,"[(14, 13), (17, 36)]","[(17, 8)]","[(14, 13), (17, 37)]","[(14, 11), (17, 33)]","[(17, 34)]","[(17, 35)]","[(14, 2), (17, 31)]","[(14, 12), (17, 35)]",...,"[(8, 19)]","[(8, 23)]","[(100, 3), (103, 130)]","[(103, 45)]","[(100, 19), (103, 131)]","[(100, 7), (103, 45)]","[(100, 8), (103, 125)]","[(100, 10), (103, 45)]","[(100, 11), (103, 44)]","[(100, 26), (103, 128)]"
4,7,before,"[(17, 35)]",[],"[(17, 27)]","[(17, 17)]","[(17, 1)]","[(17, 13)]","[(17, 8)]","[(17, 32)]",...,[],[],"[(103, 26)]","[(103, 19)]","[(103, 55)]","[(103, 16)]","[(103, 39)]","[(103, 28)]","[(103, 19)]","[(103, 58)]"

In [9]:
inventory_filt = inventory[['day', 'before or after delivery', 'Biologische prei', 'Biologische brocolli', 'Biologische courgette', 'Biologische rode kool', 'Biologische cherry tomaten', 'Biologische Bloemkool', 'Biologische pompoen', 'Biologische kikkererwten', 'Biologische knoflook']]
products_filt = products
transactions_filt = transactions[transactions['description'].isin(product_names)]

In [37]:
def date_converter(row):
    #converted_date = datetime.datetime(2018, 1, 1) + datetime.timedelta(row["day"])
    return pd.to_datetime(row['day']).dayofyear - 1

#inventory_filt["DOY"] = inventory_filt.apply(date_converter, axis = 1)

In [38]:
transactions_filt['DOY'] = transactions_filt.apply(date_converter, axis = 1)

<ipython-input-38-c79e6ac0706b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transactions_filt['DOY'] = transactions_filt.apply(date_converter, axis = 1)

In [41]:
transactions_filt[transactions_filt['description'] == 'Biologische prei'].groupby('DOY').count()

,day,time,customer,bank acount,category,product_id,description,size,std_sales_price,purchase_price,bio,basic
DOY,,,,,,,,,,,,
0.0,2,2,2,1,2,2,2,2,2,2,2,2
1.0,1,1,1,0,1,1,1,1,1,1,1,1
2.0,3,3,3,3,3,3,3,3,3,3,3,3
3.0,9,9,9,9,9,9,9,9,9,9,9,9
4.0,4,4,4,4,4,4,4,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...
359.0,4,4,4,4,4,4,4,4,4,4,4,4
360.0,4,4,4,4,4,4,4,4,4,4,4,4
361.0,2,2,2,1,2,2,2,2,2,2,2,2
362.0,2,2,2,2,2,2,2,2,2,2,2,2
363.0,2,2,2,2,2,2,2,2,2,2,2,2

In [ ]:
#loss by supermarket (don't forget promotion weeks) purchase price/std price in transactions
#don't forget to download new data from canvas for purchase price
#now apply to whole dataset with for loop over all the products