In [1]:
import pandas as pd
import numpy as np 
import datetime
inventory = pd.read_csv("data/inventory.csv")
products = pd.read_csv("data/products.csv")
promotions = pd.read_csv("data/promotions.csv")
transactions = pd.read_csv("data/transactions.csv")

import ast
for colname in inventory.columns[2:]:
    inventory[colname] = [ast.literal_eval(i) for i in inventory[colname]]

In [181]:
product = "Paprika"
transactions[transactions["description"] == product]

,day,time,customer,bank acount,category,product_id,description,size,std_sales_price,purchase_price,bio,basic
193,1/1/2018,12:20:00,14.0,67267391.0,vegetable,v_5,Paprika,1st,0.99,0.99,0.0,0.0
233,1/1/2018,13:03:28,16.0,NaN,vegetable,v_5,Paprika,1st,0.99,0.99,0.0,0.0
305,1/1/2018,13:21:22,19.0,25671204.0,vegetable,v_5,Paprika,1st,0.99,0.99,0.0,0.0
333,1/1/2018,13:37:36,21.0,88026174.0,vegetable,v_5,Paprika,1st,0.99,0.99,0.0,0.0
412,1/1/2018,14:09:57,24.0,55280334.0,vegetable,v_5,Paprika,1st,0.99,0.99,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
354373,30-12-2018,15:47:54,20663.0,87022141.0,vegetable,v_5,Paprika,1st,0.99,0.89,0.0,0.0
354605,30-12-2018,17:53:03,20673.0,21215141.0,vegetable,v_5,Paprika,1st,0.99,0.89,0.0,0.0
354701,30-12-2018,18:55:46,20678.0,83610097.0,vegetable,v_5,Paprika,1st,0.99,0.89,0.0,0.0
354751,30-12-2018,19:22:26,20680.0,9697098.0,vegetable,v_5,Paprika,1st,0.99,0.89,0.0,0.0
354790,30-12-2018,19:59:18,20682.0,NaN,vegetable,v_5,Paprika,1st,0.99,0.89,0.0,0.0

In [34]:
slav = inventory[inventory['before or after delivery'] == 'before']['Mini gourmet slavink']
len(slav[(slav.astype(str).values == '[]')])

33

In [40]:
inventory[inventory['before or after delivery'] == 'before']

,day,before or after delivery,Komkommer,Courgette,SnoepVegetable tomaat,Paprika Mix,Paprika,Geschrapte worteltjes,Basis Sperziebonen,Basis Rode kool met appel,...,Roomboter chocolade brood,Chinois brioche,Vanille muffins (vers),Basic chocolate chip cookies,Oreo,Bakkersspeculaas,Eierkoeken,Ribbelchips naturel,Ribbelchips paprika,Doritos sweet chili
0,0,before,[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
2,3,before,"[(14, 13)]",[],"[(14, 13)]","[(14, 11)]",[],[],"[(14, 2)]","[(14, 12)]",...,[],[],"[(100, 3)]",[],"[(100, 19)]","[(100, 7)]","[(100, 8)]","[(100, 10)]","[(100, 11)]","[(100, 26)]"
4,7,before,"[(17, 35)]",[],"[(17, 27)]","[(17, 17)]","[(17, 1)]","[(17, 13)]","[(17, 8)]","[(17, 32)]",...,[],[],"[(103, 26)]","[(103, 19)]","[(103, 55)]","[(103, 16)]","[(103, 39)]","[(103, 28)]","[(103, 19)]","[(103, 58)]"
6,10,before,"[(17, 13), (21, 36)]","[(21, 14)]","[(21, 37)]",[],"[(21, 11)]","[(21, 23)]","[(21, 22)]","[(17, 16), (21, 35)]",...,[],"[(12, 9)]","[(107, 73)]","[(107, 43)]","[(107, 74)]","[(107, 29)]","[(107, 79)]","[(107, 37)]",[],"[(107, 73)]"
8,14,before,"[(21, 24), (24, 36)]","[(24, 21)]","[(21, 15), (24, 37)]",[],"[(24, 5)]","[(24, 30)]","[(21, 9), (24, 31)]","[(21, 29), (24, 35)]",...,[],"[(15, 10)]","[(110, 86)]","[(107, 9), (110, 45)]","[(110, 101)]","[(107, 10), (110, 45)]","[(110, 116)]","[(107, 16), (110, 45)]",[],"[(110, 86)]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,346,before,"[(350, 29), (353, 36), (357, 36)]","[(350, 33), (353, 36), (357, 36)]","[(350, 31), (353, 37), (357, 37)]","[(350, 25), (353, 33), (357, 33)]","[(350, 28), (353, 34), (357, 34)]","[(357, 5)]","[(350, 28), (353, 31), (357, 31)]","[(353, 28), (357, 35)]",...,"[(348, 12)]","[(348, 5)]","[(397, 3), (401, 155), (404, 155), (408, 130),...","[(380, 34), (383, 45), (387, 45), (390, 45), (...","[(376, 96), (380, 131), (383, 131), (387, 157)...","[(394, 27), (397, 45), (401, 62), (404, 62), (...","[(397, 45), (401, 125), (404, 125), (408, 125)...","[(380, 42), (383, 45), (387, 45), (390, 45), (...","[(390, 43), (394, 44), (397, 44), (401, 44), (...","[(390, 34), (394, 77), (397, 77), (401, 128), ..."
200,350,before,"[(353, 30), (357, 36), (360, 36)]","[(350, 5), (353, 36), (357, 36), (360, 36)]","[(353, 32), (357, 37), (360, 37)]","[(353, 25), (357, 33), (360, 33)]","[(353, 29), (357, 34), (360, 34)]",[],"[(350, 5), (353, 31), (357, 31), (360, 31)]","[(357, 30), (360, 35)]",...,"[(351, 8)]","[(351, 10)]","[(401, 41), (404, 155), (408, 130), (411, 130)...","[(383, 44), (387, 45), (390, 45), (394, 45), (...","[(380, 101), (383, 131), (387, 157), (390, 157...","[(397, 32), (401, 62), (404, 62), (408, 45), (...","[(401, 75), (404, 125), (408, 125), (411, 125)...","[(380, 15), (383, 45), (387, 45), (390, 45), (...","[(390, 8), (394, 44), (397, 44), (401, 44), (4...","[(397, 74), (401, 128), (404, 128), (408, 128)..."
202,353,before,"[(357, 32), (360, 36), (364, 36)]","[(357, 32), (360, 36), (364, 36)]","[(357, 35), (360, 37), (364, 37)]","[(357, 30), (360, 33), (364, 33)]","[(357, 31), (360, 34), (364, 34)]","[(364, 3)]","[(357, 27), (360, 31), (364, 7)]","[(357, 8), (360, 35), (364, 35)]",...,[],"[(355, 11)]","[(404, 88), (408, 130), (411, 130), (415, 130)...","[(387, 45), (390, 45), (394, 45), (397, 45), (...","[(380, 2), (383, 131), (387, 157), (390, 157),...","[(401, 52), (404, 62), (408, 45), (411, 45), (...","[(404, 68), (408, 125), (411, 125), (415, 125)...","[(383, 16), (387, 45), (390, 45), (394, 45), (...","[(394, 10), (397, 44), (401, 44), (404, 44), (...","[(401, 100), (404, 128), (408, 128), (411, 128..."
204,357,before,"[(357, 10), (360, 36), (364, 36), (367, 36)]","[(360, 28), (364, 36), (367, 36)]","[(357, 15), (360, 37), (364, 37), (367, 37)]","[(357, 14), (360, 33), (364, 33), (367, 33)]","[(357, 4), (360, 34), (364, 34), (367, 34)]","[(367, 10)]","[(360, 28), (364, 7), (367, 7)]","[(360, 12), (364, 35), (367, 35)]",...,[],"[(358, 16)]","[(408, 114), (411, 130), (415, 130), (418, 130...","[(387, 7), (390, 45), (394, 45), (397, 45), (4...","[(383, 43), (387, 157), (390, 157), (394, 131)...","[(401, 18), (404, 62), (408, 45), (411, 45), (...","[(408, 88), (411, 125), (415, 125), (418, 125)...","[(387, 29), (390, 45), (394, 45), (397, 45), (...","[(397, 30), (401, 44), (404, 44), (408, 44), (...","[(404, 120), (408, 128), (411, 128), (415, 128..."
206,360,before,"[(364, 36), (367, 36), (371, 36)]","[(364, 32), (367, 36), (371, 36)]","[(364, 36), (367, 37), (371, 37)]","[(364, 33), (367, 33), (371, 33)]","[(364, 29), (367, 34), (371, 14)]","[(371, 22)]","[(364, 7), (367, 7), (371, 31)]","[(364, 34), (367, 35), (371, 35)]",...,"[(362, 1)]","[(362, 9)]","[(408, 29), (411, 130), (415, 130), (418, 130)...","[(390, 22), (394, 45), (397, 45), (401, 45), (...","[(387, 80), (390, 157), (394, 131), (397, 131)...","[(404, 52), (408, 45), (411, 45), (415, 54), (...","[(411, 115), (415, 125), (418, 125), (422, 125...","[(387, 3), (390, 45), (394, 45), (397, 45), (4...","[(401, 33), (404, 44), (408, 44), (411, 44), (...","[(404, 35), (408, 128), (411, 128), (415, 128)..."

In [82]:
#inventory[inventory.values == []]
#filtered_inventory = inventory[(inventory.astype(str) == '[]')]
#print(filtered_inventory.shape)
#Total number of times that the product had zero inventory
filtered_inventory = inventory[inventory['day'] > 0]
##print(filtered_inventory.shape)
filtered_inventory = filtered_inventory[filtered_inventory['before or after delivery'] == 'before']
filtered_inventory = filtered_inventory[filtered_inventory.astype(str) == '[]']
#print(filtered_inventory)
num_sold_out = pd.DataFrame()
num_sold_out['count_days'] = pd.Series(filtered_inventory.astype(str).isin(['[]']).sum(axis=0))
#num_sold_out
days_with_waste = [[inventory.loc[i, 'day'] for i in filtered_inventory.index if str(filtered_inventory.loc[i, col]) == '[]'] for col in filtered_inventory.columns[2:]]
num_sold_out.drop(['day', 'before or after delivery'], inplace=True)
num_sold_out.reset_index(inplace=True)
num_sold_out.columns = ['product', 'count_days']

num_sold_out['days'] = days_with_waste
num_sold_out.sort_values(by = 'count_days', ascending = False, inplace = True)

num_sold_out.iloc[0:50,]
#look at the transactions between periods, do we actually restock these?, specific product drilldown

,product,count_days,days
90,Mini gourmet slavink,32,"[3, 7, 17, 21, 24, 28, 35, 80, 84, 87, 105, 10..."
144,Amandelkrans,30,"[28, 38, 59, 63, 66, 70, 73, 77, 80, 84, 87, 9..."
92,Zigeuner gehaktschnitzel,28,"[84, 94, 98, 101, 105, 108, 115, 119, 133, 136..."
93,Veluwse rookworst fijn,26,"[49, 52, 56, 161, 164, 168, 171, 175, 178, 185..."
124,Zaanse sijnder bruin half,22,"[3, 7, 115, 119, 122, 126, 129, 133, 196, 199,..."
102,Kipblokjes,22,"[87, 91, 101, 105, 108, 112, 115, 119, 143, 14..."
130,Bolletje Fries roggebrood,22,"[28, 38, 42, 80, 84, 87, 105, 119, 150, 154, 1..."
109,meergranen volkoren half,21,"[42, 49, 87, 91, 94, 98, 150, 154, 157, 161, 1..."
107,Tijger bruin heel,21,"[31, 35, 38, 42, 45, 77, 87, 91, 119, 140, 143..."
140,Muesli-notenbrood,20,"[14, 17, 21, 45, 49, 52, 70, 105, 108, 112, 11..."
117,Meergranen volkoren heel,18,"[10, 14, 17, 45, 49, 80, 84, 87, 119, 178, 182..."
78,Unox Magere rookworst,18,"[3, 14, 17, 21, 24, 28, 45, 49, 52, 56, 59, 63..."
46,Mango,17,"[3, 42, 77, 80, 84, 94, 98, 101, 105, 108, 112..."
145,Roomboter chocolade brood,17,"[3, 7, 10, 14, 17, 42, 84, 87, 150, 154, 157, ..."
95,Spekblokjes,16,"[14, 17, 21, 28, 77, 105, 119, 122, 126, 147, ..."
118,Tijger wit half,16,"[17, 21, 24, 45, 49, 52, 77, 147, 150, 154, 15..."
69,Unox Gelderse rookworst,16,"[3, 7, 10, 14, 17, 28, 35, 38, 42, 45, 77, 80,..."
120,Vloerbrood volkoren,15,"[3, 7, 10, 70, 73, 80, 84, 91, 112, 199, 203, ..."
115,Tijger bruin half,15,"[3, 70, 77, 91, 115, 119, 164, 168, 199, 203, ..."
143,Krenten rozijnenwegge,15,"[10, 14, 147, 150, 154, 157, 185, 189, 192, 20..."
116,Volkoren heel,15,"[10, 14, 73, 77, 101, 105, 185, 189, 227, 231,..."
122,Tijger wit heel,14,"[35, 49, 98, 150, 154, 157, 168, 192, 196, 199..."
126,Steiv spelt gesneden,14,"[59, 101, 105, 115, 182, 245, 248, 276, 280, 2..."
111,Zaans bruin heel,14,"[91, 112, 178, 182, 213, 217, 227, 231, 248, 2..."
96,biologische Hamburger,14,"[14, 21, 73, 77, 80, 84, 91, 112, 217, 220, 24..."
104,Krokante Kipfiletschnitzel,13,"[7, 10, 14, 185, 189, 203, 245, 248, 252, 255,..."
129,Atkins laag koolhydraat volkoren brood half,13,"[10, 14, 56, 59, 63, 143, 147, 269, 273, 315, ..."
66,Gerookte spekreepjes,13,"[3, 84, 87, 91, 133, 143, 147, 150, 182, 185, ..."
135,Basic casino half,13,"[38, 42, 150, 154, 157, 161, 217, 220, 304, 30..."
88,Gekruide runderchipolata,13,"[91, 94, 101, 112, 115, 119, 122, 126, 129, 13..."
114,Mais half,12,"[73, 101, 105, 154, 168, 262, 290, 294, 311, 3..."
85,gerookt onbijtspek,12,"[24, 28, 108, 112, 129, 133, 136, 140, 143, 15..."
70,Half om half gehakt,12,"[3, 7, 10, 14, 31, 35, 140, 150, 182, 290, 294..."
51,Mandarijnen groot,12,"[3, 7, 10, 14, 21, 28, 35, 42, 77, 336, 350, 357]"
133,Basic meergranen heel,12,"[24, 28, 52, 56, 73, 77, 241, 245, 283, 287, 3..."
136,Basic volkoren heel,12,"[21, 66, 70, 101, 105, 108, 112, 143, 147, 150..."
128,Zaans volkoren,11,"[3, 59, 63, 66, 70, 192, 196, 238, 311, 315, 318]"
91,Mini gourmet varkenshaas,11,"[59, 63, 66, 70, 73, 77, 206, 210, 217, 220, 224]"
65,Rundergehakt,11,"[49, 52, 56, 59, 66, 70, 80, 227, 231, 287, 357]"
47,Blauwe bessen,11,"[175, 189, 192, 217, 220, 224, 234, 238, 241, ..."
37,Chiquita bananen,11,"[7, 84, 94, 98, 101, 105, 108, 112, 115, 119, ..."
3,Paprika Mix,10,"[10, 14, 112, 147, 150, 154, 157, 161, 192, 196]"
72,Slavinken,10,"[3, 7, 108, 112, 119, 122, 147, 150, 154, 157]"
127,Krenten- en rozijnenbrood half,10,"[73, 77, 122, 126, 171, 175, 206, 210, 241, 245]"
134,Basic wit heel,10,"[10, 14, 24, 28, 87, 91, 119, 220, 224, 360]"
131,Kaneelbroodjes,10,"[14, 42, 45, 49, 73, 77, 161, 266, 332, 336]"
146,Chinois brioche,9,"[3, 7, 52, 56, 66, 70, 73, 77, 315]"
35,Mandarijenen,9,"[3, 7, 10, 14, 17, 21, 24, 28, 31]"
43,Conference,9,"[3, 287, 297, 301, 304, 308, 311, 318, 322]"
106,Zaans volkoren heel,8,"[119, 122, 126, 136, 140, 252, 255, 350]"

In [182]:
def date_converter(row):
    converted_date = datetime.datetime(2018, 1, 1) + datetime.timedelta(row["day"])
    return converted_date

inventory["date"] = inventory.apply(date_converter, axis = 1)

In [183]:
def week_of_year(row):
    week_nr = datetime.date(row["date"].year, row["date"].month, row["date"].day).isocalendar()[1]
    return week_nr

inventory["week"] = inventory.apply(week_of_year, axis = 1)

In [184]:
filter_inventory = inventory[["day", "before or after delivery", "date", "week", product]]
promotions_filter = promotions[promotions["description"] == product]

def check_discount(row):
    if row["week"] in promotions_filter["week"].values:
        discount_amount = promotions_filter[promotions_filter["week"] == row["week"]]["discount"]
        return discount_amount.values[0]
    else:
        return 0

filter_inventory["discount"] = filter_inventory.apply(check_discount, axis = 1)

In [185]:
def total_inv(row):
    total = 0
    if len(row[product]) > 0:
        for batch in row[product]:
            total += batch[1]
    return total

filter_inventory["total inventory"] = filter_inventory.apply(total_inv, axis = 1)

In [186]:
best_before = []
for element_list in filter_inventory[product]:
    for batch in element_list:
        best_before.append(batch[0])
bb_dates = np.unique(best_before)

In [187]:
df_waste = pd.DataFrame({"best before":bb_dates})
df_waste

     best before
0             14
1             17
2             21
3             24
4             28
..           ...
99           360
100          364
101          367
102          371
103          374

[104 rows x 1 columns]

In [188]:
def input_inv(row):
    for element_list in filter_inventory[product]:
        if len(element_list) > 0:
            for batch in element_list:
                if batch[0] == row["best before"]:
                    return batch[1]
df_waste["amount"] = df_waste.apply(input_inv, axis = 1)

In [189]:
df_waste
#product gets thrown away on the day it goes bad, no one can buy it anymore ON THAT DAY
#discard any items that has best before for enxt year
#haven't sold anything that is not in stock
df_waste = df_waste[df_waste["best before"] < 365]
df_waste

     best before  amount
0             14      34
1             17      34
2             21      34
3             24      34
4             28      14
..           ...     ...
96           350      34
97           353      34
98           357      34
99           360      34
100          364      34

[101 rows x 2 columns]

In [190]:
df_waste["purchases"] = [purchases_per_day[i-1] for i in df_waste["best before"]]

In [191]:
df_waste["prev purchases"] = df_waste["purchases"].diff()
df_waste

     best before  amount  purchases  prev purchases
0             14      34        115             NaN
1             17      34        133            18.0
2             21      34        170            37.0
3             24      34        190            20.0
4             28      14        209            19.0
..           ...     ...        ...             ...
96           350      34       2840            42.0
97           353      34       2871            31.0
98           357      34       2896            25.0
99           360      34       2913            17.0
100          364      34       2943            30.0

[101 rows x 4 columns]

In [192]:
length = df_waste.shape[0]
lst_waste = []
df_waste["remaining"] = df_waste["amount"] - df_waste["prev purchases"]
df_waste["remaining"].iloc[0] = df_waste["amount"].iloc[0] - df_waste["purchases"].iloc[0]

for i in range(length):
    current_row = df_waste.iloc[i]
    if i == 0:
        lst_waste.append(current_row["remaining"])
        continue     
    else:
        prev_row = df_waste.iloc[i-1]
        if lst_waste[-1] < 0:
            waste = lst_waste[-1] + current_row["remaining"]
            lst_waste.append(lst_waste[-1] + current_row["remaining"])
        else:
            lst_waste.append(current_row["remaining"])
    
df_waste["waste"] = lst_waste
def date_converter(row):
    converted_date = datetime.datetime(2018, 1, 1) + datetime.timedelta(row["best before"])
    return converted_date

df_waste["date"] = df_waste.apply(date_converter, axis = 1)
df_waste["week"] = df_waste.apply(week_of_year, axis = 1)
df_waste[df_waste["waste"] < 0]["waste"] = 0

In [193]:
df_waste

,best before,amount,purchases,prev purchases,remaining,waste,date,week
0,14,34,115,NaN,-81.0,-81.0,2018-01-15,3
1,17,34,133,18.0,16.0,-65.0,2018-01-18,3
2,21,34,170,37.0,-3.0,-68.0,2018-01-22,4
3,24,34,190,20.0,14.0,-54.0,2018-01-25,4
4,28,14,209,19.0,-5.0,-59.0,2018-01-29,5
...,...,...,...,...,...,...,...,...
96,350,34,2840,42.0,-8.0,-8.0,2018-12-17,51
97,353,34,2871,31.0,3.0,-5.0,2018-12-20,51
98,357,34,2896,25.0,9.0,4.0,2018-12-24,52
99,360,34,2913,17.0,17.0,17.0,2018-12-27,52
100,364,34,2943,30.0,4.0,4.0,2018-12-31,1

In [194]:
df_waste["waste nn"] = [i if i > 0 else 0 for i in df_waste["waste"]]
waste_group = df_waste.groupby("week").sum()

In [195]:
waste_group["week"] = waste_group.index

In [196]:
import plotly.express as px
fig = px.line(waste_group, x = "week", y = "waste nn")
fig.show()

In [112]:
purchases_per_day

day
2018-01-01       8
2018-01-02      13
2018-01-03      18
2018-01-04      30
2018-01-05      40
              ...
2018-12-26    2913
2018-12-27    2918
2018-12-28    2921
2018-12-29    2934
2018-12-30    2943
Name: product_id, Length: 364, dtype: int64

In [71]:
transactions["day"] = pd.to_datetime(transactions["day"])
filter_transactions = transactions[transactions["description"] == product]

In [86]:
daydate = df_date[df_date["day"] == 2]["date"].values[0]

filter_transactions[filter_transactions["day"] <= daydate]

,day,time,customer,bank acount,category,product_id,description,size,std_sales_price,purchase_price,bio,basic
89,2018-01-01,10:40:13,6.0,54211938.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
467,2018-01-01,14:21:35,26.0,51433968.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
573,2018-01-01,15:36:46,33.0,30794082.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
700,2018-01-01,16:56:20,39.0,15832817.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
808,2018-01-01,18:15:29,46.0,90399261.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
821,2018-01-01,18:15:29,46.0,90399261.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
824,2018-01-01,18:15:29,46.0,90399261.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
879,2018-01-01,18:46:48,49.0,15382238.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
29093,2018-01-02,12:52:06,1714.0,28719528.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
29134,2018-01-02,13:44:14,1718.0,39309224.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
29295,2018-01-02,15:15:43,1728.0,8997496.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
29445,2018-01-02,17:57:52,1737.0,34052285.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
29559,2018-01-02,18:51:21,1745.0,50106779.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
55959,2018-01-03,9:22:58,3327.0,NaN,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
56275,2018-01-03,13:35:26,3346.0,73805186.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
56537,2018-01-03,16:48:00,3364.0,73806149.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
56586,2018-01-03,17:58:20,3369.0,319898.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
56613,2018-01-03,18:20:23,3370.0,98645816.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0

In [111]:
purchases_per_day = filter_transactions.groupby("day").count()["product_id"].cumsum()
purchases_per_day

day
2018-01-01       8
2018-01-02      13
2018-01-03      18
2018-01-04      30
2018-01-05      40
              ...
2018-12-26    2913
2018-12-27    2918
2018-12-28    2921
2018-12-29    2934
2018-12-30    2943
Name: product_id, Length: 364, dtype: int64

In [52]:
daydate

numpy.datetime64('2018-01-15T00:00:00.000000000')

In [74]:
dayofyear = list(range(365))
date = [datetime.datetime(2018, 1, 1) + datetime.timedelta(day) for day in dayofyear]
df_date = pd.DataFrame({"day":dayofyear, "date":date})
df_date

     day       date
0      0 2018-01-01
1      1 2018-01-02
2      2 2018-01-03
3      3 2018-01-04
4      4 2018-01-05
..   ...        ...
360  360 2018-12-27
361  361 2018-12-28
362  362 2018-12-29
363  363 2018-12-30
364  364 2018-12-31

[365 rows x 2 columns]