In [2]:
import pandas as pd
import numpy as np 
import datetime
inventory = pd.read_csv("data/inventory.csv")
products = pd.read_csv("data/products_ext.csv")
#note that this ^^^^ is the newly downlaoded dataset from canvas renamed to products_ext.csv
promotions = pd.read_csv("data/promotions.csv")
transactions = pd.read_csv("data/transactions.csv")

#create a reference dataframe
dayofyear = list(range(365))
date = [datetime.datetime(2018, 1, 1) + datetime.timedelta(day) for day in dayofyear]
df_date = pd.DataFrame({"day":dayofyear, "date":date})

import ast
for colname in inventory.columns[2:]:
    inventory[colname] = [ast.literal_eval(i) for i in inventory[colname]]

In [3]:
#specific products to be looking at
product_names = ['Biologische prei', 'Biologische brocolli', 'Biologische courgette', 'Biologische rode kool', 'Biologische cherry tomaten', 'Biologisch Bloemkool', 'Biologische pompoen', 'Biologische kikkererwten', 'Biologische knoflook']

In [4]:
transactions[(transactions['description'] == 'Biologisch rundergehakt')]

,day,time,customer,bank acount,category,product_id,description,size,std_sales_price,purchase_price,bio,basic
268,1/1/2018,13:10:21,17.0,73805186.0,meat,m_25,Biologisch rundergehakt,500g,5.19,5.19,1.0,0.0
793,1/1/2018,17:57:26,45.0,34909974.0,meat,m_17,Biologisch rundergehakt,300g,3.19,3.19,1.0,0.0
988,1/1/2018,19:22:14,54.0,55696420.0,meat,m_25,Biologisch rundergehakt,500g,5.19,5.19,1.0,0.0
1438,2/1/2018,13:08:57,80.0,22598330.0,meat,m_17,Biologisch rundergehakt,300g,3.19,3.19,1.0,0.0
1944,2/1/2018,20:30:05,108.0,NaN,meat,m_25,Biologisch rundergehakt,500g,5.19,5.19,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
352792,28-12-2018,17:15:21,20580.0,52244150.0,meat,m_17,Biologisch rundergehakt,300g,3.19,3.19,1.0,0.0
353187,29-12-2018,12:01:28,20600.0,98775035.0,meat,m_17,Biologisch rundergehakt,300g,3.19,3.19,1.0,0.0
353208,29-12-2018,12:01:28,20600.0,98775035.0,meat,m_25,Biologisch rundergehakt,500g,5.19,5.19,1.0,0.0
353237,29-12-2018,12:43:14,20602.0,62950414.0,meat,m_17,Biologisch rundergehakt,300g,3.19,3.19,1.0,0.0
353769,29-12-2018,19:25:04,20634.0,NaN,meat,m_17,Biologisch rundergehakt,300g,3.19,3.19,1.0,0.0

In [5]:
transactions[(transactions['description'] == 'Biologisch rundergehakt.1') & (transactions['size'] == '300g')]

Empty DataFrame
Columns: [day, time, customer, bank acount, category, product_id, description, size, std_sales_price, purchase_price, bio, basic]
Index: []

In [6]:
#'Biologische spekreepjes', 'Sappige gelders rookworst',  'Spekblokjes', 'biologische Hamburger', 'Biologische gerookte ontbijtspek', 'Biologische runderchipolata', 'Biologische rundersoepballetjes' 
tup_list = [('Blauwe bessen', '300g'), ('Rundergehakt', '500g'), ('Unox Gelderse rookworst', '375g'), ('Biologisch rundergehakt', '500g')]
tup_list2 = [('Blauwe bessen', '150g'), ('Rundergehakt', '300g '), ('Unox Gelderse rookworst', '285g'), ('Biologisch rundergehakt', '300g')]
for pair in tup_list2:
    
    transactions.loc[transactions[(transactions['description'] == pair[0]) & (transactions['size'] == pair[1])].index, 'description'] = pair[0] + '.1'

    products.loc[products[(products['description'] == pair[0]) & (products['size'] == pair[1])].index, 'description'] = pair[0] + '.1'
    print(pair)
#transactions[(transactions['description'].isin(['Blauwe bessen', 'Blauwe bessen.1']))]

('Blauwe bessen', '150g')
('Rundergehakt', '300g ')
('Unox Gelderse rookworst', '285g')
('Biologisch rundergehakt', '300g')

In [7]:
inventory.head()

,day,before or after delivery,Komkommer,Courgette,SnoepVegetable tomaat,Paprika Mix,Paprika,Geschrapte worteltjes,Basis Sperziebonen,Basis Rode kool met appel,...,Roomboter chocolade brood,Chinois brioche,Vanille muffins (vers),Basic chocolate chip cookies,Oreo,Bakkersspeculaas,Eierkoeken,Ribbelchips naturel,Ribbelchips paprika,Doritos sweet chili
0,0,before,[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
1,0,after,"[(14, 36)]","[(14, 8)]","[(14, 37)]","[(14, 33)]","[(14, 34)]","[(14, 35)]","[(14, 31)]","[(14, 35)]",...,"[(5, 19)]","[(5, 23)]","[(100, 130)]","[(100, 45)]","[(100, 131)]","[(100, 45)]","[(100, 125)]","[(100, 45)]","[(100, 44)]","[(100, 128)]"
2,3,before,"[(14, 13)]",[],"[(14, 13)]","[(14, 11)]",[],[],"[(14, 2)]","[(14, 12)]",...,[],[],"[(100, 3)]",[],"[(100, 19)]","[(100, 7)]","[(100, 8)]","[(100, 10)]","[(100, 11)]","[(100, 26)]"
3,3,after,"[(14, 13), (17, 36)]","[(17, 8)]","[(14, 13), (17, 37)]","[(14, 11), (17, 33)]","[(17, 34)]","[(17, 35)]","[(14, 2), (17, 31)]","[(14, 12), (17, 35)]",...,"[(8, 19)]","[(8, 23)]","[(100, 3), (103, 130)]","[(103, 45)]","[(100, 19), (103, 131)]","[(100, 7), (103, 45)]","[(100, 8), (103, 125)]","[(100, 10), (103, 45)]","[(100, 11), (103, 44)]","[(100, 26), (103, 128)]"
4,7,before,"[(17, 35)]",[],"[(17, 27)]","[(17, 17)]","[(17, 1)]","[(17, 13)]","[(17, 8)]","[(17, 32)]",...,[],[],"[(103, 26)]","[(103, 19)]","[(103, 55)]","[(103, 16)]","[(103, 39)]","[(103, 28)]","[(103, 19)]","[(103, 58)]"

In [8]:
inventory_filt = inventory[['day', 'before or after delivery', 'Biologische prei', 'Biologische brocolli', 'Biologische courgette', 'Biologische rode kool', 'Biologische cherry tomaten', 'Biologische Bloemkool', 'Biologische pompoen', 'Biologische kikkererwten', 'Biologische knoflook']]
products_filt = products
transactions_filt = transactions[transactions['description'].isin(product_names)]

In [9]:
def day_of_year_converter(row):
    #converted_date = datetime.datetime(2018, 1, 1) + datetime.timedelta(row["day"])
    return pd.to_datetime(row['day']).dayofyear - 1

#inventory_filt["DOY"] = inventory_filt.apply(date_converter, axis = 1)

In [10]:
transactions_filt['DOY'] = transactions_filt.apply(day_of_year_converter, axis = 1)

<ipython-input-10-04a6aaab1626>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transactions_filt['DOY'] = transactions_filt.apply(day_of_year_converter, axis = 1)

In [11]:
transactions_filt[transactions_filt['description'] == 'Biologische prei'].groupby('DOY').count()

,day,time,customer,bank acount,category,product_id,description,size,std_sales_price,purchase_price,bio,basic
DOY,,,,,,,,,,,,
0.0,2,2,2,1,2,2,2,2,2,2,2,2
1.0,1,1,1,0,1,1,1,1,1,1,1,1
2.0,3,3,3,3,3,3,3,3,3,3,3,3
3.0,9,9,9,9,9,9,9,9,9,9,9,9
4.0,4,4,4,4,4,4,4,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...
359.0,4,4,4,4,4,4,4,4,4,4,4,4
360.0,4,4,4,4,4,4,4,4,4,4,4,4
361.0,2,2,2,1,2,2,2,2,2,2,2,2
362.0,2,2,2,2,2,2,2,2,2,2,2,2
363.0,2,2,2,2,2,2,2,2,2,2,2,2

In [12]:
#loss by supermarket (don't forget promotion weeks) purchase price/std price in transactions
#don't forget to download new data from canvas for purchase price
#now apply to whole dataset with for loop over all the products

In [13]:
product_list

NameError: name 'product_list' is not defined

In [16]:
# product_list = list(inventory.columns[2:])
#['Blauwe bessen', 'Blauwe bessen.1', 'Rundergehakt', 'Unox Gelderse rookworst', 'Rundergehakt.1', 'Unox Gelderse rookworst.1', 'Biologisch rundergehakt', 'Biologisch rundergehakt.1', 
#remove_list = ['Biologische spekreepjes', 'Sappige gelders rookworst',  'Spekblokjes', 'biologische Hamburger', 'Biologische gerookte ontbijtspek', 'Biologische runderchipolata', 'Biologische rundersoepballetjes']
product_list = list(inventory.columns[2:])
#for element in remove_list:
   # product_list.remove(element)

In [18]:
#creation of product waste table:
def date_converter(row):
    converted_date = datetime.datetime(2018, 1, 1) + datetime.timedelta(row["day"])
    return converted_date

inventory["date"] = inventory.apply(date_converter, axis = 1) #convert day of year to actual timestamp
def week_of_year(row):
    week_nr = datetime.date(row["date"].year, row["date"].month, row["date"].day).isocalendar()[1]
    return week_nr

inventory["week"] = inventory.apply(week_of_year, axis = 1)
def check_discount(row):
    if row["week"] in promotions_filter["week"].values:
        discount_amount = promotions_filter[promotions_filter["week"] == row["week"]]["discount"]
        return discount_amount.values[0]
    else:
        return 0

def total_inv(row):
    total = 0
    if len(row[product]) > 0:
        for batch in row[product]:
            total += batch[1]
    return total
#adds total nr items in inventory for the filtered dataframe

def input_inv(row):
    for element_list in filter_inventory[product]:
        if len(element_list) > 0:
            for batch in element_list:
                if batch[0] == row["best before"]:
                    return batch[1]

transactions["day"] = pd.to_datetime(transactions["day"])
first_restock = df_date[df_date["day"] == 3]["date"].values[0]

waste_metrics_df = pd.DataFrame(columns = ['product', 'waste', 'lost_Revenue', 'lost_profit', 'cost_wasted'])

for product in product_list:
    filter_inventory = inventory[["day", "before or after delivery", "date", "week", product]]
    promotions_filter = promotions[promotions["description"] == product]
    filter_inventory["total inventory"] = filter_inventory.apply(total_inv, axis = 1)
    filtered_transactions = transactions[transactions["description"] == product]
    def input_DOY(row):
        doy = pd.to_datetime(row["day"], dayfirst=True).dayofyear - 1
        return doy 
    filtered_transactions["DOY"] = filtered_transactions.apply(input_DOY, axis=1)
    cumsum_purchases = filtered_transactions.groupby("DOY").count()["product_id"].cumsum()
    #creating a dataframe,  merging it with reference so each day is accounted for
    df_purchases = pd.DataFrame({"DOY":cumsum_purchases.index, "cumulative purchases":cumsum_purchases})
    ref = pd.DataFrame({"doy":range(1,365)}) #reference table to match up days
    joint_purchases = ref.set_index('doy').join(df_purchases)
    joint_purchases.fillna(method='pad', inplace=True)#days where 0 purchases happened

    first_restock = df_date[df_date["day"] == 3]["date"].values[0]
    #first_restock check purchases mde before the first restock
    filtered_transactions[filtered_transactions["day"] < first_restock]

    best_before = []
    for element_list in filter_inventory[product]:
        for batch in element_list:
            best_before.append(batch[0])
    bb_dates = np.unique(best_before)

    df_waste = pd.DataFrame({"best before":bb_dates})
    #df_waste #build initial df with points where waste can occur
    df_waste["amount"] = df_waste.apply(input_inv, axis = 1)
    df_waste = df_waste[df_waste["best before"] < 365] #only keep rows where expiry date is in same year

    #first_restock check purchases mde before the first restock
    filtered_transactions[filtered_transactions["day"] < first_restock]

    #cumulative sum of purchases from that product
    purchases_per_day = filtered_transactions.groupby("day").count()["product_id"].cumsum()
    #purchases made per day from that product
    purchases_per_day_plotting = filtered_transactions.groupby("day").count()["product_id"]
    #idk know what is this
    purchases_per_day_plotting.index = purchases_per_day_plotting.index.dayofyear/7

    purchases_per_day.index[0].year
    weeknr = []
    for ind in purchases_per_day.index:
        week = datetime.date(ind.year, ind.month, ind.day).isocalendar()[1]
        weeknr.append(week)
    #week number for each purchase day


    df_waste.drop(index=df_waste.tail(9).index, inplace=True)
    #drop the last rows not to cause index issues
    #STILL NEED TO BE FIXED

    df_waste["purchases"] = [joint_purchases['cumulative purchases'][i-1] for i in df_waste["best before"]]

    df_waste["prev purchases"] = df_waste["purchases"].diff()

    length = df_waste.shape[0]
    lst_waste = [] #nr rows in waste dataframe
    #amount left from the item
    df_waste["remaining"] = df_waste["amount"] - df_waste["prev purchases"] 
    #the first row is different as there is no prev pruchases available
    df_waste["remaining"].iloc[0] = df_waste["amount"].iloc[0] - df_waste["purchases"].iloc[0]

    for i in range(length):
        #iterates through the rows of the waste dataframe
        current_row = df_waste.iloc[i]
        if i == 0:
            #
            lst_waste.append(current_row["remaining"])
            continue     
        else:
            prev_row = df_waste.iloc[i-1] #previous row in dataframe
            if lst_waste[-1] < 0:
                #no idea whats happening here, I've had enough
                waste = lst_waste[-1] + current_row["remaining"]
                lst_waste.append(lst_waste[-1] + current_row["remaining"])
            else:
                lst_waste.append(current_row["remaining"])
        
    df_waste["waste"] = lst_waste
    def date_converter(row):
        converted_date = datetime.datetime(2018, 1, 1) + datetime.timedelta(row["best before"])
        return converted_date
    purchase_price = products[products['description'] == product]['purchase_price']
    df_waste["date"] = df_waste.apply(date_converter, axis = 1)
    df_waste["week"] = df_waste.apply(week_of_year, axis = 1)
    df_waste[df_waste["waste"] < 0]["waste"] = 0
    df_waste['weekPrice'] = [float(products[products['description'] == product]['std_sales_price'])] * len(df_waste)
    #df_waste.set_index('week', inplace = True)
    #print(df_waste.head())
    for week_ind in list(promotions[promotions['description'] == product].index):
        week = promotions.at[week_ind, 'week']
        #print(week_ind)
        # print(df_waste[['week']].dtypes)
        if week in list(np.unique(df_waste.week)):
            #print(week)
            df_waste.loc[df_waste[df_waste['week'] == week]['weekPrice'].index, 'weekPrice'] = (1 - (promotions.at[week_ind, 'discount'] / 100)) * df_waste.loc[df_waste[df_waste['week'] == week]['weekPrice'].index, 'weekPrice']
            #break
    df_waste['lost_Revenue'] = df_waste.waste * df_waste.weekPrice
    df_waste['purc_price'] = [float(purchase_price)] * len(df_waste)
    df_waste['lost_profit'] = df_waste['waste'] * (df_waste['weekPrice'] - df_waste['purc_price'])
    df_waste['cost_wasted'] = df_waste['waste'] * df_waste['purc_price']

    metrics = list(df_waste[df_waste['waste']>0][['waste', 'lost_Revenue', 'lost_profit', 'cost_wasted']].sum())

    new_row = [product] + metrics

    waste_metrics_df.loc[len(waste_metrics_df)] = new_row
    print('{} is Complete'.format(product))

#product = 'Biologische knoflook' #select the product to analyze

<ipython-input-18-936edf10117e>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_inventory["total inventory"] = filter_inventory.apply(total_inv, axis = 1)
<ipython-input-18-936edf10117e>:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_transactions["DOY"] = filtered_transactions.apply(input_DOY, axis=1)
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-18-936edf10117e>:126: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_waste[df_waste["waste"] < 0]["waste"] = 0
Komkommer is Complete
Courgette is Complete
SnoepVegetable tomaat is Complete
Paprika Mix is Complete
Paprika is Complete
Geschrapte worteltjes is Complete
Basis Sperziebonen is Complete
Basis Rode kool met appel is Complete
Basis worteltjes fijn is Complete
Basis erwten zeer fijn is Complete
Basis sperziebonen is Complete
Biologische courgette is Complete
Biologische Bloemkool is Complete
Biologische knoflook is Complete
Biologische pompoen is Complete
Biologische kikkererwten is Complete
Biologische prei is Complete
Biologische rode kool is Complete
Biologische cherry tomaten is Complete
Biologische brocolli is Complete
Boerenkool gesneden is Complete
Spruiten is Complete
Witlof is Complete
Rucola is Complete
Nasi bami Vegetable is Complete
Snijbonen is Complete
Buitenbeentjes puntpaprika is Complete
Basis Maiskorrels is Complete
Wortelen is Complete
Pompoen stukjes is Complete
Verse zuurkool is Complete
Buitenbeentjes komkommer is Complete
Buitenbeentjes paprika is Complete
SnoepVegetable worteltjes is Complete
WokVegetable thais is Complete
Mandarijenen is Complete
Bananen is Complete
Chiquita bananen is Complete
Pitloze witte druiven is Complete
Zoete kleine appeltjes is Complete
Pink lady appels is Complete
Pitloze rode druiven is Complete
Elstar is Complete
Conference is Complete
Biologische banane is Complete
Citroenen is Complete
Mango is Complete
Blauwe bessen is Complete
Blauwe bessen.1 is Complete
Aardbeien is Complete
Jonagold is Complete
Mandarijnen groot is Complete
Mango eetrijp is Complete
Buitenbeetjes appels is Complete
Limoenen is Complete
Granny smith is Complete
Grapefruit rood is Complete
Kanzi appelen is Complete
Basis annanasstukjes is Complete
Biologisch wilde bosbes is Complete
Biologische rozijnen is Complete
Biologische santana appelen is Complete
Pitloze druivenmix is Complete
Biologische sinaasappelen is Complete
Aardbeien ontkroond is Complete
Rundergehakt is Complete
Gerookte spekreepjes is Complete
Spekreepjes is Complete
Mini gourmet hamburgers is Complete
Unox Gelderse rookworst is Complete
Half om half gehakt is Complete
Rundergehakt.1 is Complete
Slavinken is Complete
Mini biefstukjes is Complete
Rundersoepballetjes is Complete
Hamburgers is Complete
Unox Gelderse rookworst.1 is Complete
Mini gourmet kipsatespiesjes is Complete
Unox Magere rookworst is Complete
Biologische spekreepjes is Complete
Sappige gelders rookworst is Complete
Biologisch rundergehakt is Complete
Varkensbraadworst is Complete
Runder riblap Iers is Complete
rundergehakt is Complete
gerookt onbijtspek is Complete
rundervinken is Complete
half of half gehakt is Complete
Gekruide runderchipolata is Complete
Biologisch rundergehakt.1 is Complete
Mini gourmet slavink is Complete
Mini gourmet varkenshaas is Complete
Zigeuner gehaktschnitzel is Complete
Veluwse rookworst fijn is Complete
Runderbraadworst is Complete
Spekblokjes is Complete
biologische Hamburger is Complete
Mager rundergehakt is Complete
Biologische gerookte ontbijtspek is Complete
Biefstuk is Complete
Biologische runderchipolata is Complete
Biologische rundersoepballetjes is Complete
Kipblokjes is Complete
Kipfilet naturel is Complete
Krokante Kipfiletschnitzel is Complete
Kipfilet is Complete
Zaans volkoren heel is Complete
Tijger bruin heel is Complete
Zaans volkoren half is Complete
meergranen volkoren half is Complete
Walkdorn heel is Complete
Zaans bruin heel is Complete
Tijger volkoren half is Complete
Tijger volkoren heel is Complete
Mais half is Complete
Tijger bruin half is Complete
Volkoren heel is Complete
Meergranen volkoren heel is Complete
Tijger wit half is Complete
Vloerbrood meergranen is Complete
Vloerbrood volkoren  is Complete
Casino wit half is Complete
Tijger wit heel is Complete
Bruin heel is Complete
Zaanse sijnder bruin half is Complete
Boerenvolkoren sesam heel is Complete
Steiv spelt gesneden is Complete
Krenten- en rozijnenbrood half is Complete
Zaans volkoren  is Complete
Atkins laag koolhydraat volkoren brood half is Complete
Bolletje Fries roggebrood is Complete
Kaneelbroodjes is Complete
Biologisch Vloerbrood meerzaden heel is Complete
Basic meergranen heel is Complete
Basic wit heel is Complete
Basic casino half is Complete
Basic volkoren heel is Complete
Biologisch volkoren heel is Complete
Biologisch bruin heel is Complete
Glutenvrij bruin is Complete
Muesli-notenbrood is Complete
Basic roggebrood is Complete
Melkbroodjes is Complete
Krenten rozijnenwegge is Complete
Amandelkrans is Complete
Roomboter chocolade brood is Complete
Chinois brioche is Complete
Vanille muffins (vers) is Complete
Basic chocolate chip cookies is Complete
Oreo is Complete
Bakkersspeculaas is Complete
Eierkoeken is Complete
Ribbelchips naturel is Complete
Ribbelchips paprika is Complete
Doritos sweet chili is Complete

TypeError: 'Timestamp' object is not subscriptable

In [190]:
waste_metrics_df.sort_values(by='lost_Revenue', ascending=False, inplace = True)
waste_metrics_df.reset_index(inplace=True, drop=True)
waste_metrics_df.head(30)

,product,waste,lost_Revenue,lost_profit,cost_wasted
0,Blauwe bessen,2193.0,8943.2750,5895.0050,3048.27
1,Unox Gelderse rookworst,1551.0,5737.1125,4604.8825,1132.23
2,Biologisch Vloerbrood meerzaden heel,2070.0,5638.8890,3962.1890,1676.70
3,Unox Gelderse rookworst.1,1682.0,5197.3800,4205.0000,992.38
4,Rundergehakt,1462.0,5134.6350,3979.6550,1154.98
5,Blauwe bessen.1,2022.0,4953.9000,3295.8600,1658.04
6,Biologisch bruin heel,1813.0,3839.1080,2678.7880,1160.32
7,Biologisch volkoren heel,1659.0,3751.2540,2473.8240,1277.43
8,Biologisch rundergehakt,640.0,3196.2615,2505.0615,691.20
9,Rundergehakt.1,1387.0,3176.2300,2552.0800,624.15
10,Biologische sinaasappelen,868.0,2971.7350,2025.6150,946.12
11,Biologische pompoen,1099.0,2693.5000,2045.0900,648.41
12,Biologische Bloemkool,970.0,2276.2360,1742.7360,533.50
13,Biologische brocolli,1216.0,2160.3510,1661.7910,498.56
14,Biologische courgette,1247.0,2090.2765,1554.0665,536.21
15,Biologische santana appelen,735.0,1932.7650,1344.7650,588.00
16,Biologisch rundergehakt.1,592.0,1888.4800,1527.3600,361.12
17,Basis annanasstukjes,1828.0,1741.4925,1193.0925,548.40
18,Biologische cherry tomaten,1048.0,1643.3445,1287.0245,356.32
19,Biologische rozijnen,538.0,1593.3710,1076.8910,516.48
20,Biologische rode kool,1205.0,1506.5265,1145.0265,361.50
21,Biologisch wilde bosbes,757.0,1457.1340,980.2240,476.91
22,Kipfilet naturel,272.0,1300.9640,1045.2840,255.68
23,SnoepVegetable tomaat,612.0,1210.9150,904.9150,306.00
24,Mandarijnen groot,405.0,1194.9535,818.3035,376.65
25,Glutenvrij bruin,386.0,1183.3315,797.3315,386.00
26,Buitenbeentjes puntpaprika,459.0,1124.7330,844.7430,279.99
27,Mandarijenen,550.0,1094.5000,742.5000,352.00
28,Mini gourmet kipsatespiesjes,440.0,1087.6320,885.2320,202.40
29,Pompoen stukjes,460.0,1082.0725,824.4725,257.60

In [191]:
waste_metrics_df.sum()

product         Blauwe bessenUnox Gelderse rookworstBiologisch...
waste                                                       67516
lost_Revenue                                               133369
lost_profit                                               97153.1
cost_wasted                                               36215.9
dtype: object

In [192]:
waste_metrics_df[waste_metrics_df['product'].isin(all_bio_waste)].sum()

product         Blauwe bessenUnox Gelderse rookworstBiologisch...
waste                                                       28582
lost_Revenue                                              73523.3
lost_profit                                                 53736
cost_wasted                                               19787.2
dtype: object

In [174]:
all_bio_waste = waste_metrics_df.head(22)['product'].tolist()