In [7]:
import pandas as pd
import numpy as np 
import datetime
inventory = pd.read_csv("data/inventory.csv")
products = pd.read_csv("data/products_ext.csv")
promotions = pd.read_csv("data/promotions.csv")
transactions = pd.read_csv("data/transactions.csv")

#create a reference dataframe
dayofyear = list(range(365))
date = [datetime.datetime(2018, 1, 1) + datetime.timedelta(day) for day in dayofyear]
df_date = pd.DataFrame({"day":dayofyear, "date":date})

import ast
for colname in inventory.columns[2:]:
    inventory[colname] = [ast.literal_eval(i) for i in inventory[colname]]
    #converting inventory rows to list of tuples from string

In [8]:
products.head()

,category,product_id,description,size,std_sales_price,bio,basic,purchase_price
0,vegetable,v_1,Komkommer,1st,0.69,0,0,0.18
1,vegetable,v_2,Courgette,1st,0.75,0,0,0.17
2,vegetable,v_3,SnoepVegetable tomaat,500g,1.99,0,0,0.50
3,vegetable,v_4,Paprika Mix,3st,1.79,0,0,0.40
4,vegetable,v_5,Paprika,1st,0.99,0,0,0.23

In [82]:
inventory[['Blauwe bessen.1']]

                                       Blauwe bessen.1
0                                           [(20, 50)]
1                                           [(20, 50)]
2                                 [(20, 14), (23, 50)]
3                                 [(20, 14), (23, 50)]
4                                 [(23, 32), (27, 50)]
..                                                 ...
203  [(356, 36), (359, 50), (363, 10), (366, 10), (...
204  [(359, 43), (363, 10), (366, 10), (370, 50), (...
205  [(359, 43), (363, 10), (366, 10), (370, 50), (...
206  [(363, 3), (366, 10), (370, 50), (373, 50), (3...
207  [(363, 3), (366, 10), (370, 50), (373, 50), (3...

[208 rows x 1 columns]

In [120]:
product = 'Biologische spekreepjes' #select the product to analyze
transactions[transactions["description"] == product] #transactions for that product

,day,time,customer,bank acount,category,product_id,description,size,std_sales_price,purchase_price,bio,basic
1782,2018-02-01,18:44:22,101.0,24107630.0,meat,m_15,Biologische spekreepjes,200g,2.69,2.69,1.0,0.0
1827,2018-02-01,18:47:38,102.0,34187107.0,meat,m_15,Biologische spekreepjes,200g,2.69,2.69,1.0,0.0
2103,2018-03-01,10:47:17,117.0,1064747.0,meat,m_15,Biologische spekreepjes,200g,2.69,2.69,1.0,0.0
2724,2018-03-01,19:25:33,158.0,63634047.0,meat,m_15,Biologische spekreepjes,200g,2.69,2.69,1.0,0.0
4534,2018-06-01,12:45:08,274.0,43670698.0,meat,m_15,Biologische spekreepjes,200g,2.69,2.69,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
353828,2018-12-29,20:04:32,20636.0,38621378.0,meat,m_15,Biologische spekreepjes,200g,2.69,2.69,1.0,0.0
354041,2018-12-30,10:08:47,20646.0,NaN,meat,m_15,Biologische spekreepjes,200g,2.69,2.69,1.0,0.0
354144,2018-12-30,12:42:05,20650.0,63634047.0,meat,m_15,Biologische spekreepjes,200g,2.69,2.69,1.0,0.0
354171,2018-12-30,13:15:05,20651.0,79747334.0,meat,m_15,Biologische spekreepjes,200g,2.69,2.69,1.0,0.0
354260,2018-12-30,14:26:22,20656.0,40285157.0,meat,m_15,Biologische spekreepjes,200g,2.69,2.69,1.0,0.0

In [121]:
def date_converter(row):
    converted_date = datetime.datetime(2018, 1, 1) + datetime.timedelta(row["day"])
    return converted_date

inventory["date"] = inventory.apply(date_converter, axis = 1) #convert day of year to actual timestamp

In [107]:
def week_of_year(row):
    week_nr = datetime.date(row["date"].year, row["date"].month, row["date"].day).isocalendar()[1]
    return week_nr

inventory["week"] = inventory.apply(week_of_year, axis = 1)
#add nr week of year as an extra column to inventory

In [108]:
#only keep relevant columns in inventory
filter_inventory = inventory[["day", "before or after delivery", "date", "week", product]]
#filters promotion table to only contain discounts for chosen product
promotions_filter = promotions[promotions["description"] == product]

def check_discount(row):
    if row["week"] in promotions_filter["week"].values:
        discount_amount = promotions_filter[promotions_filter["week"] == row["week"]]["discount"]
        return discount_amount.values[0]
    else:
        return 0
#adds extra column to filter inventory containing discount amount
filter_inventory["discount"] = filter_inventory.apply(check_discount, axis = 1)

ipykernel_launcher:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [109]:
def total_inv(row):
    total = 0
    if len(row[product]) > 0:
        for batch in row[product]:
            total += batch[1]
    return total
#adds total nr items in inventory for the filtered dataframe
filter_inventory["total inventory"] = filter_inventory.apply(total_inv, axis = 1)

ipykernel_launcher:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [110]:
best_before = []
for element_list in filter_inventory[product]:
    for batch in element_list:
        best_before.append(batch[0])
bb_dates = np.unique(best_before)
#list of each unique best before dates
bb_dates

array([ 10,  13,  17,  20,  24,  27,  31,  34,  38,  41,  45,  48,  52,
        55,  59,  62,  66,  69,  73,  76,  80,  83,  87,  90,  94,  97,
       101, 104, 108, 111, 115, 118, 122, 125, 129, 132, 136, 139, 143,
       146, 150, 153, 157, 160, 164, 167, 171, 174, 178, 181, 185, 188,
       192, 195, 199, 202, 206, 209, 213, 216, 220, 223, 227, 230, 234,
       237, 241, 244, 248, 251, 255, 258, 262, 265, 269, 272, 276, 279,
       283, 286, 290, 293, 297, 300, 304, 307, 311, 314, 318, 321, 325,
       328, 332, 335, 339, 342, 346, 349, 353, 356, 360, 363, 367, 370])

In [111]:
df_waste = pd.DataFrame({"best before":bb_dates})
df_waste #build initial df with points where waste can occur

     best before
0             10
1             13
2             17
3             20
4             24
..           ...
99           356
100          360
101          363
102          367
103          370

[104 rows x 1 columns]

In [112]:
def input_inv(row):
    for element_list in filter_inventory[product]:
        if len(element_list) > 0:
            for batch in element_list:
                if batch[0] == row["best before"]:
                    return batch[1]

df_waste["amount"] = df_waste.apply(input_inv, axis = 1)
df_waste #amount that was received with particular expiry date

     best before  amount
0             10       5
1             13       5
2             17       5
3             20       5
4             24       5
..           ...     ...
99           356       5
100          360       5
101          363       5
102          367       5
103          370       5

[104 rows x 2 columns]

In [113]:
df_waste = df_waste[df_waste["best before"] < 365] #only keep rows where expiry date is in same year
df_waste

     best before  amount
0             10       5
1             13       5
2             17       5
3             20       5
4             24       5
..           ...     ...
97           349       5
98           353       5
99           356       5
100          360       5
101          363       5

[102 rows x 2 columns]

In [114]:
transactions["day"] = pd.to_datetime(transactions["day"])
filter_transactions = transactions[transactions["description"] == product]
#converts date then filters transactions to contain selected product purchases

first_restock = df_date[df_date["day"] == 3]["date"].values[0]
#first_restock check purchases mde before the first restock
filter_transactions[filter_transactions["day"] < first_restock]
#PROBLEM: IF A PRODUCT HASN'T BEEN BOUGHT IN ONE DAY IT HAS A ZERO, CAUSES AN ERROR FEW CELLS

Empty DataFrame
Columns: [day, time, customer, bank acount, category, product_id, description, size, std_sales_price, purchase_price, bio, basic]
Index: []

In [115]:
#cumulative sum of purchases from that product
purchases_per_day = filter_transactions.groupby("day").count()["product_id"].cumsum()
#purchases made per day from that product
purchases_per_day_plotting = filter_transactions.groupby("day").count()["product_id"]
#idk know what is this
purchases_per_day_plotting.index = purchases_per_day_plotting.index.dayofyear/7
purchases_per_day
#would need to generate the individual days where there are no new purchases and assign a zero value to these days to fix the cumsum()

day
2018-01-05      1
2018-01-06      4
2018-01-07      6
2018-01-09      8
2018-01-10      9
             ...
2018-12-26    427
2018-12-27    428
2018-12-28    429
2018-12-29    433
2018-12-30    437
Name: product_id, Length: 243, dtype: int64

In [116]:
purchases_per_day.index[0].year
weeknr = []
for ind in purchases_per_day.index:
    week = datetime.date(ind.year, ind.month, ind.day).isocalendar()[1]
    weeknr.append(week)
#week number for each purchase day

In [137]:
df_waste.drop(index=df_waste.tail(9).index, inplace=True)
#drop the last rows not to cause index issues
#STILL NEED TO BE FIXED
df_waste

/Users/teddy/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4312: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

    best before  amount
0            10       5
1            13       5
2            17       5
3            20       5
4            24       5
5            27       5
6            31       5
7            34       5
8            38       5
9            41       5
10           45       5
11           48       5
12           52       5
13           55       5
14           59       5
15           62       5
16           66       5
17           69       5
18           73       5
19           76       5
20           80       5
21           83       5
22           87       5
23           90       5
24           94       5
25           97       5
26          101       5
27          104       5
28          108       5
29          111       5
30          115       5
31          118       5
32          122       5
33          125       5
34          129       5
35          132       5
36          136       5
37          139       5
38          143       5
39          146       5
40          150       5
41          153       5
42          157       5
43          160       5
44          164       5
45          167       5
46          171       5
47          174       5

In [118]:
df_waste["purchases"] = [purchases_per_day[i-1] for i in df_waste["best before"]]
#add cumulative sum of purchases up until that day (based on expiry dates)
df_waste

IndexError: index 243 is out of bounds for axis 0 with size 243

In [103]:
df_waste["prev purchases"] = df_waste["purchases"].diff()
df_waste #difference in purchases since a previous batch of product expired

ipykernel_launcher:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    best before  amount  purchases  prev purchases
0            10       7         38             NaN
1            13       7         47             9.0
2            17       4         64            17.0
3            20       4         79            15.0
4            24      16         95            16.0
..          ...     ...        ...             ...
88          318      16       1377            29.0
89          321      16       1388            11.0
90          325      16       1403            15.0
91          328      16       1420            17.0
92          332      16       1434            14.0

[93 rows x 4 columns]

In [104]:
length = df_waste.shape[0]
lst_waste = [] #nr rows in waste dataframe
#amount left from the item
df_waste["remaining"] = df_waste["amount"] - df_waste["prev purchases"] 
#the first row is different as there is no prev pruchases available
df_waste["remaining"].iloc[0] = df_waste["amount"].iloc[0] - df_waste["purchases"].iloc[0]

for i in range(length):
    #iterates through the rows of the waste dataframe
    current_row = df_waste.iloc[i]
    if i == 0:
        #
        lst_waste.append(current_row["remaining"])
        continue     
    else:
        prev_row = df_waste.iloc[i-1] #previous row in dataframe
        if lst_waste[-1] < 0:
            #no idea whats happening here, I've had enough
            waste = lst_waste[-1] + current_row["remaining"]
            lst_waste.append(lst_waste[-1] + current_row["remaining"])
        else:
            lst_waste.append(current_row["remaining"])
    
df_waste["waste"] = lst_waste
def date_converter(row):
    converted_date = datetime.datetime(2018, 1, 1) + datetime.timedelta(row["best before"])
    return converted_date
purchase_price = products[products['description'] == product]['purchase_price'].mean()
df_waste["date"] = df_waste.apply(date_converter, axis = 1)
df_waste["week"] = df_waste.apply(week_of_year, axis = 1)
df_waste[df_waste["waste"] < 0]["waste"] = 0

df_waste['weekPrice'] = [float(products[products['description'] == product]['std_sales_price'].mean())] * len(df_waste)
#df_waste.set_index('week', inplace = True)
#print(df_waste.head())
for week_ind in list(promotions[promotions['description'] == product].index):
    week = promotions.at[week_ind, 'week']
    print(week_ind)
    # print(df_waste[['week']].dtypes)
    if week in list(np.unique(df_waste.week)):
        print(week)
        df_waste.loc[df_waste[df_waste['week'] == week]['weekPrice'].index, 'weekPrice'] = (1 - (promotions.at[week_ind, 'discount'] / 100)) * df_waste.loc[df_waste[df_waste['week'] == week]['weekPrice'].index, 'weekPrice']
        #break
df_waste['lost_Revenue'] = df_waste.waste * df_waste.weekPrice
df_waste['purc_price'] = [float(purchase_price)] * len(df_waste)
df_waste['lost_profit'] = df_waste['waste'] * (df_waste['weekPrice'] - df_waste['purc_price'])
df_waste['cost_wasted'] = df_waste['waste'] * df_waste['purc_price']
df_waste.head(50)

13
15
2
64
5
293
20
386
26
517
35
613
41
620
42
714
48
ipykernel_launcher:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/teddy/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/Users/teddy/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)
ipykernel_launcher:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
ipykernel_launcher:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
ipykernel_launcher:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
ipykernel_launcher:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
ipykernel_launcher:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/teddy/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
/Users/teddy/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
/Users/teddy/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
/Users/teddy/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
/Users/teddy/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
/Users/teddy/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
/Users/teddy/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
/Users/teddy/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
ipykernel_launcher:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
ipykernel_launcher:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
ipykernel_launcher:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
ipykernel_launcher:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,best before,amount,purchases,prev purchases,remaining,waste,date,week,weekPrice,lost_Revenue,purc_price,lost_profit,cost_wasted
0,10,7,38,NaN,-31.0,-31.0,2018-01-11,2,2.5555,-79.2205,0.55,-62.1705,-17.05
1,13,7,47,9.0,-2.0,-33.0,2018-01-14,2,2.5555,-84.3315,0.55,-66.1815,-18.15
2,17,4,64,17.0,-13.0,-46.0,2018-01-18,3,2.6900,-123.7400,0.55,-98.4400,-25.30
3,20,4,79,15.0,-11.0,-57.0,2018-01-21,3,2.6900,-153.3300,0.55,-121.9800,-31.35
4,24,16,95,16.0,0.0,-57.0,2018-01-25,4,2.6900,-153.3300,0.55,-121.9800,-31.35
5,27,16,116,21.0,-5.0,-62.0,2018-01-28,4,2.6900,-166.7800,0.55,-132.6800,-34.10
6,31,16,126,10.0,6.0,-56.0,2018-02-01,5,2.2865,-128.0440,0.55,-97.2440,-30.80
7,34,16,136,10.0,6.0,-50.0,2018-02-04,5,2.2865,-114.3250,0.55,-86.8250,-27.50
8,38,10,149,13.0,-3.0,-53.0,2018-02-08,6,2.6900,-142.5700,0.55,-113.4200,-29.15
9,41,10,155,6.0,4.0,-49.0,2018-02-11,6,2.6900,-131.8100,0.55,-104.8600,-26.95
10,45,16,167,12.0,4.0,-45.0,2018-02-15,7,2.6900,-121.0500,0.55,-96.3000,-24.75
11,48,16,184,17.0,-1.0,-46.0,2018-02-18,7,2.6900,-123.7400,0.55,-98.4400,-25.30
12,52,16,196,12.0,4.0,-42.0,2018-02-22,8,2.6900,-112.9800,0.55,-89.8800,-23.10
13,55,16,207,11.0,5.0,-37.0,2018-02-25,8,2.6900,-99.5300,0.55,-79.1800,-20.35
14,59,16,221,14.0,2.0,-35.0,2018-03-01,9,2.6900,-94.1500,0.55,-74.9000,-19.25
15,62,16,232,11.0,5.0,-30.0,2018-03-04,9,2.6900,-80.7000,0.55,-64.2000,-16.50
16,66,16,245,13.0,3.0,-27.0,2018-03-08,10,2.6900,-72.6300,0.55,-57.7800,-14.85
17,69,16,256,11.0,5.0,-22.0,2018-03-11,10,2.6900,-59.1800,0.55,-47.0800,-12.10
18,73,16,273,17.0,-1.0,-23.0,2018-03-15,11,2.6900,-61.8700,0.55,-49.2200,-12.65
19,76,16,281,8.0,8.0,-15.0,2018-03-18,11,2.6900,-40.3500,0.55,-32.1000,-8.25
20,80,16,298,17.0,-1.0,-16.0,2018-03-22,12,2.6900,-43.0400,0.55,-34.2400,-8.80
21,83,16,314,16.0,0.0,-16.0,2018-03-25,12,2.6900,-43.0400,0.55,-34.2400,-8.80
22,87,16,324,10.0,6.0,-10.0,2018-03-29,13,2.6900,-26.9000,0.55,-21.4000,-5.50
23,90,16,342,18.0,-2.0,-12.0,2018-04-01,13,2.6900,-32.2800,0.55,-25.6800,-6.60
24,94,16,353,11.0,5.0,-7.0,2018-04-05,14,2.6900,-18.8300,0.55,-14.9800,-3.85
25,97,16,360,7.0,9.0,2.0,2018-04-08,14,2.6900,5.3800,0.55,4.2800,1.10
26,101,16,383,23.0,-7.0,-7.0,2018-04-12,15,2.6900,-18.8300,0.55,-14.9800,-3.85
27,104,16,401,18.0,-2.0,-9.0,2018-04-15,15,2.6900,-24.2100,0.55,-19.2600,-4.95
28,108,16,429,28.0,-12.0,-21.0,2018-04-19,16,2.6900,-56.4900,0.55,-44.9400,-11.55
29,111,16,449,20.0,-4.0,-25.0,2018-04-22,16,2.6900,-67.2500,0.55,-53.5000,-13.75
30,115,16,462,13.0,3.0,-22.0,2018-04-26,17,2.6900,-59.1800,0.55,-47.0800,-12.10
31,118,16,474,12.0,4.0,-18.0,2018-04-29,17,2.6900,-48.4200,0.55,-38.5200,-9.90
32,122,16,492,18.0,-2.0,-20.0,2018-05-03,18,2.6900,-53.8000,0.55,-42.8000,-11.00
33,125,16,497,5.0,11.0,-9.0,2018-05-06,18,2.6900,-24.2100,0.55,-19.2600,-4.95
34,129,16,518,21.0,-5.0,-14.0,2018-05-10,19,2.6900,-37.6600,0.55,-29.9600,-7.70
35,132,16,546,28.0,-12.0,-26.0,2018-05-13,19,2.6900,-69.9400,0.55,-55.6400,-14.30
36,136,16,561,15.0,1.0,-25.0,2018-05-17,20,1.8830,-47.0750,0.55,-33.3250,-13.75
37,139,16,572,11.0,5.0,-20.0,2018-05-20,20,1.8830,-37.6600,0.55,-26.6600,-11.00
38,143,19,595,23.0,-4.0,-24.0,2018-05-24,21,2.6900,-64.5600,0.55,-51.3600,-13.20
39,146,19,605,10.0,9.0,-15.0,2018-05-27,21,2.6900,-40.3500,0.55,-32.1000,-8.25
40,150,16,619,14.0,2.0,-13.0,2018-05-31,22,2.6900,-34.9700,0.55,-27.8200,-7.15
41,153,16,634,15.0,1.0,-12.0,2018-06-03,22,2.6900,-32.2800,0.55,-25.6800,-6.60
42,157,16,652,18.0,-2.0,-14.0,2018-06-07,23,2.6900,-37.6600,0.55,-29.9600,-7.70
43,160,16,664,12.0,4.0,-10.0,2018-06-10,23,2.6900,-26.9000,0.55,-21.4000,-5.50
44,164,16,680,16.0,0.0,-10.0,2018-06-14,24,2.6900,-26.9000,0.55,-21.4000,-5.50
45,167,16,696,16.0,0.0,-10.0,2018-06-17,24,2.6900,-26.9000,0.55,-21.4000,-5.50
46,171,16,724,28.0,-12.0,-22.0,2018-06-21,25,2.6900,-59.1800,0.55,-47.0800,-12.10
47,174,16,741,17.0,-1.0,-23.0,2018-06-24,25,2.6900,-61.8700,0.55,-49.2200,-12.65
48,178,16,766,25.0,-9.0,-32.0,2018-06-28,26,2.0175,-64.5600,0.55,-46.9600,-17.60
49,181,16,777,11.0,5.0,-27.0,2018-07-01,26,2.0175,-54.4725,0.55,-39.6225,-14.85

In [232]:
#promotions[(promotions['description'] == product) & (promotions['week'] == week)]['discount']
#promotions[promotions['description'] == product]['week']
promotions[(promotions['description'] == product) ]

     week   category product_id           description  discount
0       1  vegetable       v_14  Biologische knoflook        30
107     8  vegetable       v_14  Biologische knoflook        15
260    18  vegetable       v_14  Biologische knoflook         5
388    26  vegetable       v_14  Biologische knoflook        30
701    47  vegetable       v_14  Biologische knoflook        25

In [88]:
print(products[products['description'] == 'Half om half gehakt'])

   category product_id          description  size  std_sales_price  bio  \
70     meat        m_6  Half om half gehakt  500g             2.69    0

    basic  purchase_price
70      0            0.55

In [32]:
df_waste[df_waste['waste']>0][['waste', 'lost_Revenue', 'lost_profit', 'cost_wasted']].sum()

waste           897.000
lost_Revenue    612.168
lost_profit     477.618
cost_wasted     134.550
dtype: float64

In [200]:
print('The number of products wasted in the dataset for {} is {} items'.format(product, df_waste[df_waste['waste']>0]['waste'].sum()))

The number of products wasted in the dataset for Biologische knoflook is 897.0 items

In [131]:
df_waste.loc[:,:].where(df_waste.loc[:,'waste']>0)

,best before,amount,purchases,prev purchases,remaining,waste,date,week
0,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
4,28.0,25.0,113.0,9.0,16.0,12.0,2018-01-29,5.0
...,...,...,...,...,...,...,...,...
87,318.0,25.0,1236.0,10.0,15.0,15.0,2018-11-15,46.0
88,322.0,25.0,1252.0,16.0,9.0,9.0,2018-11-19,47.0
89,325.0,25.0,1261.0,9.0,16.0,16.0,2018-11-22,47.0
90,329.0,25.0,1271.0,10.0,15.0,15.0,2018-11-26,48.0
91,332.0,25.0,1275.0,4.0,21.0,21.0,2018-11-29,48.0

In [132]:
df_waste[df_waste['waste']>0]['waste'].sum()

985.0

In [31]:
transactions[transactions['description'] == 'Biologische prei'].groupby('day').count().iloc[0:14, :]

,time,customer,bank acount,category,product_id,description,size,std_sales_price,purchase_price,bio,basic
day,,,,,,,,,,,
2018-01-01,2,2,1,2,2,2,2,2,2,2,2
2018-01-02,1,1,0,1,1,1,1,1,1,1,1
2018-01-03,3,3,3,3,3,3,3,3,3,3,3
2018-01-04,9,9,9,9,9,9,9,9,9,9,9
2018-01-05,4,4,4,4,4,4,4,4,4,4,4
2018-01-06,3,3,1,3,3,3,3,3,3,3,3
2018-01-07,7,7,4,7,7,7,7,7,7,7,7
2018-01-08,5,5,5,5,5,5,5,5,5,5,5
2018-01-09,5,5,5,5,5,5,5,5,5,5,5
2018-01-10,1,1,1,1,1,1,1,1,1,1,1
2018-01-11,4,4,4,4,4,4,4,4,4,4,4
2018-01-12,4,4,4,4,4,4,4,4,4,4,4
2018-01-13,5,5,4,5,5,5,5,5,5,5,5
2018-01-15,4,4,2,4,4,4,4,4,4,4,4

In [131]:
df_waste["waste nn"] = [i if i > 0 else 0 for i in df_waste["waste"]]
#takes nonnegative values which is counted as waste
waste_group = df_waste.groupby("week").sum()
waste_group["weekly purchases"] = waste_group["purchases"].diff()

<ipython-input-131-08904a856e7a>:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

## `df_waste` is prepared for plotting

In [132]:
waste_group

,best before,amount,purchases,prev purchases,remaining,waste,waste nn,weekly purchases
week,,,,,,,,
3,31,52,119,5.0,-10.0,-41.0,0.0,NaN
4,45,52,179,36.0,16.0,3.0,6.0,60.0
5,59,52,238,25.0,27.0,27.0,27.0,59.0
6,73,52,283,23.0,29.0,29.0,29.0,45.0
7,87,52,327,24.0,28.0,28.0,28.0,44.0
8,101,52,383,24.0,28.0,28.0,28.0,56.0
9,115,52,430,26.0,26.0,26.0,26.0,47.0
10,129,52,492,31.0,21.0,21.0,21.0,62.0
11,143,52,537,21.0,31.0,31.0,31.0,45.0
12,157,52,589,33.0,19.0,19.0,19.0,52.0
13,171,52,650,23.0,29.0,29.0,29.0,61.0
14,185,52,716,38.0,14.0,14.0,14.0,66.0
15,199,52,801,40.0,12.0,9.0,12.0,85.0
16,213,52,860,35.0,17.0,17.0,17.0,59.0
17,227,52,921,25.0,27.0,27.0,27.0,61.0
18,241,52,967,21.0,31.0,31.0,31.0,46.0
19,255,22,1020,27.0,-5.0,-13.0,0.0,53.0
20,269,52,1064,26.0,26.0,21.0,21.0,44.0
21,283,52,1122,29.0,23.0,23.0,23.0,58.0
22,297,52,1171,21.0,31.0,31.0,31.0,49.0
23,311,52,1225,28.0,24.0,24.0,24.0,54.0
24,325,52,1266,17.0,35.0,35.0,35.0,41.0
25,339,52,1316,27.0,25.0,25.0,25.0,50.0
26,353,52,1362,24.0,28.0,28.0,28.0,46.0
27,367,52,1400,18.0,34.0,34.0,34.0,38.0
28,381,52,1445,23.0,29.0,29.0,29.0,45.0
29,395,52,1489,23.0,29.0,29.0,29.0,44.0
30,409,52,1556,39.0,13.0,13.0,13.0,67.0
31,423,52,1623,27.0,25.0,25.0,25.0,67.0
32,437,52,1676,26.0,26.0,26.0,26.0,53.0
33,451,52,1728,28.0,24.0,24.0,24.0,52.0
34,465,52,1782,30.0,22.0,22.0,22.0,54.0
35,479,52,1863,36.0,16.0,15.0,16.0,81.0
36,493,52,1912,25.0,27.0,27.0,27.0,49.0
37,507,52,1965,28.0,24.0,24.0,24.0,53.0
38,521,52,2017,23.0,29.0,29.0,29.0,52.0
39,535,52,2052,19.0,33.0,33.0,33.0,35.0
40,549,52,2103,26.0,26.0,26.0,26.0,51.0
41,563,52,2151,21.0,31.0,31.0,31.0,48.0
42,577,52,2197,27.0,25.0,25.0,25.0,46.0
43,591,52,2263,30.0,22.0,22.0,22.0,66.0
44,605,52,2312,28.0,24.0,24.0,24.0,49.0
45,619,52,2357,19.0,33.0,33.0,33.0,45.0
46,633,52,2412,32.0,20.0,20.0,20.0,55.0
47,647,52,2460,19.0,33.0,33.0,33.0,48.0
48,661,52,2506,24.0,28.0,28.0,28.0,46.0

In [133]:
waste_group["week"] = waste_group.index

In [134]:
import plotly.express as px
fig = px.line(waste_group, x = "week", y = "waste nn", title="Absolute waste of {} per week".format(product))
fig.add_scatter(x=waste_group["week"], y=waste_group["amount"], mode="lines")
fig.add_scatter(x=waste_group["week"], y=waste_group["weekly purchases"], mode="lines")
fig.update_yaxes(title="Waste amount")
fig.show()

In [112]:
purchases_per_day

day
2018-01-01       8
2018-01-02      13
2018-01-03      18
2018-01-04      30
2018-01-05      40
              ...
2018-12-26    2913
2018-12-27    2918
2018-12-28    2921
2018-12-29    2934
2018-12-30    2943
Name: product_id, Length: 364, dtype: int64

In [71]:
transactions["day"] = pd.to_datetime(transactions["day"])
filter_transactions = transactions[transactions["description"] == product]

In [86]:
daydate = df_date[df_date["day"] == 2]["date"].values[0]

filter_transactions[filter_transactions["day"] <= daydate]

,day,time,customer,bank acount,category,product_id,description,size,std_sales_price,purchase_price,bio,basic
89,2018-01-01,10:40:13,6.0,54211938.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
467,2018-01-01,14:21:35,26.0,51433968.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
573,2018-01-01,15:36:46,33.0,30794082.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
700,2018-01-01,16:56:20,39.0,15832817.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
808,2018-01-01,18:15:29,46.0,90399261.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
821,2018-01-01,18:15:29,46.0,90399261.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
824,2018-01-01,18:15:29,46.0,90399261.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
879,2018-01-01,18:46:48,49.0,15382238.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
29093,2018-01-02,12:52:06,1714.0,28719528.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
29134,2018-01-02,13:44:14,1718.0,39309224.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
29295,2018-01-02,15:15:43,1728.0,8997496.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
29445,2018-01-02,17:57:52,1737.0,34052285.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
29559,2018-01-02,18:51:21,1745.0,50106779.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
55959,2018-01-03,9:22:58,3327.0,NaN,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
56275,2018-01-03,13:35:26,3346.0,73805186.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
56537,2018-01-03,16:48:00,3364.0,73806149.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
56586,2018-01-03,17:58:20,3369.0,319898.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0
56613,2018-01-03,18:20:23,3370.0,98645816.0,vegetable,v_1,Komkommer,1st,0.69,0.69,0.0,0.0

In [111]:
purchases_per_day = filter_transactions.groupby("day").count()["product_id"].cumsum()
purchases_per_day

day
2018-01-01       8
2018-01-02      13
2018-01-03      18
2018-01-04      30
2018-01-05      40
              ...
2018-12-26    2913
2018-12-27    2918
2018-12-28    2921
2018-12-29    2934
2018-12-30    2943
Name: product_id, Length: 364, dtype: int64

In [52]:
daydate

numpy.datetime64('2018-01-15T00:00:00.000000000')

In [15]:
dayofyear = list(range(365))
date = [datetime.datetime(2018, 1, 1) + datetime.timedelta(day) for day in dayofyear]
df_date = pd.DataFrame({"day":dayofyear, "date":date})